<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Yousei.Web</title>
<base href="/" />

<!-- CSS -->
<!-- BlazorMonaco -->
<link href="_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.css" rel="stylesheet" />

<!-- Misc -->
<link href="Yousei.Web.styles.css" rel="stylesheet" />
<link href="css/site.generated.min.css" rel="stylesheet" />