@page "/new"

<div class="sidebar">
    <button @onclick="Reload">Reload</button>
    <ul>
        <li>
            <span>Flows</span>
            <button @onclick="AddFlow">+</button>
            <ul>
                @foreach (var flow in flows)
                {
                    <li><button @onclick="() => SetConfig(new FlowConfigModel(flow, api.ConfigurationDatabase))">@flow</button></li>
                }
            </ul>
        </li>
        <li>
            <span>Connections</span>
            <button @onclick="AddConnector">+</button>
            <ul>
                <li>
                    @foreach (var (connector, names) in configurations)
                    {
                        <span>@connector</span>
                        <button @onclick="() => AddConfiguration(connector)">+</button>
                        <ul>
                            @foreach (var name in names)
                            {
                                <li><button @onclick="() => SetConfig(new ConnectionConfigModel(connector, name, api.ConfigurationDatabase))">@name</button></li>
                            }
                        </ul>
                    }
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="main">
    <button @onclick="Save">Save</button>
    <button @onclick="Delete">Delete</button>
    <MonacoEditor @ref="editor" ConstructionOptions="Construct" CssClass="editor" />
</div>
