@page "/"

<div class="sidebar">
    <Sidebar Selected="SetConfig" />
</div>

<div class="main">
    <button @onclick="Save" class="button-command">Save</button>
    <button @onclick="Delete" class="button-command">Delete</button>
    <MonacoEditor @ref="editor" ConstructionOptions="Construct" CssClass="editor" />
</div>