@page "/trigger"

<div class="flex flex-col w-3\/4">
    <BlockConfigEditor @ref="editor" ActiveFilter="BlockConfigEditor.Filter.Triggers" />
    <button @onclick="Do">Do</button>
    <div>
        <textarea class="w-full h-96" readonly>
            @result?.ToString(Newtonsoft.Json.Formatting.Indented)
        </textarea>
    </div>
</div>

@code {
    private BlockConfigEditor? editor;

    private JToken? result;

    private async Task Do()
    {
        if (editor is not null && editor.IsValid)
            result = editor.BuildToken();
    }
}