@tailwind base;
@tailwind components;

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.editor {
    height: 100vh;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
    /*background-color: lightgray;*/
}

app {
    flex-direction: row;
    position: relative;
    display: flex;
}

.main {
    flex: 1;
}

button {
    @apply rounded border-2;
    margin: 4px;
}

    button:hover {
        @apply ring-4;
    }

.button-add {
    @apply rounded-full bg-blue-300 w-7 h-7;
}

.button-command {
    @apply bg-purple-300 rounded-full px-3;
}

.button-item {
    @apply bg-gray-100 rounded-full px-3;
}

ul {
    @apply ml-5;
}

.sidebar-row {
    @apply p-1 flex items-center;
    /*min-height: 3rem;*/
}

.sidebar-header {
    @apply sidebar-row font-bold bg-gray-200;
}

.sidebar-subheader {
    @apply sidebar-row font-semibold bg-gray-100;
}

.sidebar-item {
    @apply sidebar-row bg-gray-50;
}

.sidebar-clickable {
    @apply sidebar-item ring-inset hover:bg-blue-50 cursor-pointer;
}

@tailwind utilities;